<footer class="footer flex bg-light py-5 text-center">
    <div class="container grid">
        <div>
            <img class="footer-logo" src="{{ 'assets/images/moonloot-logo-dark-purple.svg' | relative_url }}" alt="moonloot logo white">
            <p>© 2021 Moonloot LLC</p>
        </div>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="features.html">Terms</a></li>
                <li><a href="docs.html">FAQ</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="https://twitter.com/moonlootco"><i class="fa fa-twitter fa-5"></i></a>
            <a href="mailto: ahoy@moonloot.co"><i class="fa fa-envelope fa-5" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>