<footer class="footer flex bg-light py-5 text-center">
    <div class="container grid">
        <div>
            <img class="footer-logo" src="{{ 'assets/images/moonloot-logo-dark-purple.svg' | relative_url }}" alt="moonloot logo white">
            <p>© 2021 Moonloot LLC</p>
        </div>
        <nav>
            <ul>
                <li><a href="https://moonloot.co/#about">About</a></li>
                <li><a href="https://moonloot.co/privacy-policy" target="_blank">Privacy Policy</a></li>
                <li><a href="https://moonloot.co/disclaimer" target="_blank">Disclaimer</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="https://twitter.com/moonlootco" target="_blank">
                <i class="fa fa-twitter fa-2"></i></a>
            <a href="https://github.com/adamlevoy/moonloot" target="_blank">
                <i class="fa fa-github fa-2"></i></a>
            <a href="mailto: ahoy@moonloot.co" target="_blank">
                <i class="fa fa-envelope fa-2"></i></a>
        </div>
    </div>
</footer>